
{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<meta http-equiv="refresh" content="1; url=?controller=subTask&action=index">

<br>
<h1>SubTask</h1>
<hr>

<b>SubTask updated!<b>


{{ include('_shared/footer.php') }}