    <div class="col-md-8">
        <h1>Task Master </h1>
        <p>Welcome to your task master.</p>
        <p>Here is the home page !</p>


        <a href="index.twig?action=login">Login !</a>
        <button onclick="window.location.href='/taskManager/?controller=home&action=register'"> Pas encore inscrit ? </button>

    </div>
