{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<meta http-equiv="refresh" content="1; url=?controller=task&action=index">

<br>
<h1>Task</h1>
<hr>

<b>Task created!<b>

{{ include('_shared/footer.php') }}