{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<meta http-equiv="refresh" content="1; url=?controller=member&action=index">

<br>
<h1>Member</h1>
<hr>

<b>Member created!<b>

{{ include('_shared/footer.php') }}